/*home*/
#body_index{
    background-color: black;
}

#ul_home{
    width: 20vw;
    flex-direction: row;
}

/*navbar*/
#input_home{
    text-align: center;
    width: 10vw;
    border-radius: 10px;
    margin-left: 10%;
}

#nav_home{
    background-color:rgb(49, 162, 43);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    height: 12vh;
}

@media (max-width: 1100px) {
    #nav_home ul li {
        display: flex;
        padding-right: 20%;
        font-size: 1.5em;
        cursor: pointer;
    }
}

#nav_home ul{   
    display: flex;
    list-style: none;
    flex-direction: row;
}

#nav_home ul li{
    display: flex;
    margin-left: 70%;
    padding-right: 20%;
    font-size: 1.5em;
    cursor: pointer;
}

#nav_home ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#nav_home ul li a:hover{
    color: antiquewhite;
    transition: all 0.2s ease-in-out;
}
/*fin navbar*/

#title_home{
    font-size: 5em;
    font-family:educa, Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

#app{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}


.star{
    font-size: 1.7em;
}

.star:hover{
    color: yellow;
    cursor: pointer;
}

footer{
    background-color:rgb(49, 162, 43);
    border-radius: 20px;
    height: 12vh;
    margin-top: 5%;
}

/*crunchyroll*/
#crunchy {
    border-radius: 5px;
    width: 20vw;
    height: 70vh;
    background-color: blue;
    text-align: center;
    padding-top: 2%;
}

#crunchy_title{
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#liste_crunchy {
    border-color: antiquewhite;
    background-color: rgb(255, 107, 0);
    list-style: none;
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
    color: antiquewhite;
    line-height: 1.5;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 10px;
}
/*fin crunchyroll*/



/*parrot*/
#parrot {
    border: 5px;
    border-radius: 5px;
    width: 20vw;
    height: 70vh;
    background-color: goldenrod;
    text-align: center;
    padding-top: 2%;
}

#parrot_title{
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#liste_parrot {
    border-color: antiquewhite;
    background-color: black;
    list-style: none;
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
    color: antiquewhite;
    line-height: 1.5;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 10px;
}
/*fin parrot*/




/*adn*/
#adn {
    border: 5px;
    border-radius: 5px;
    width: 20vw;
    height: 70vh;
    background-color: rgb(223, 27, 27);
    text-align: center;
    padding-top: 2%;
}

#adn_title{
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#liste_adn {
    border-color: antiquewhite;
    background-color: rgb(66, 165, 245);
    list-style: none;
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
    color: antiquewhite;
    line-height: 1.5;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 10px;
}


/*fin adn*/

.bouton_visiter{
    background-color: antiquewhite;
    border-radius: 5px;
    border: black;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
}

.bouton_visiter:hover{
    background-color: black;
}

#lien_visiter{
    text-decoration: none;
    color: black;
}

#lien_visiter:hover{
    color: antiquewhite;
    transition: all 0.2s ease-in-out;
}

/*fin home*/



/*Crunchyroll*/
#body_crunchy{
    background-color: rgb(255, 107, 0);
}

#input_crunchy{
    text-align: center;
    width: 10vw;
    border-radius: 10px;
    margin-left: 10%;
}

#nav_crunchy{
    background-color:blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    height: 12vh;
}

#nav_crunchy ul{   
    display: flex;
    list-style: none;
    flex-direction: row;
}

#nav_crunchy ul li{
    display: flex;
    margin-left: 50%;
    padding-right: 20%;
    font-size: 1.5em;
    cursor: pointer;
}

@media (max-width: 1100px) {
    #nav_crunchy ul li {
        display: flex;
        padding-right: 20%;
        font-size: 1.5em;
        cursor: pointer;
    }

    #logo_crunchy{
        display: none;
    }
}

#nav_crunchy ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#nav_crunchy ul li a:hover{
    color: antiquewhite;
    transition: all 0.2s ease-in-out;
}

#logo_crunchy{
    display: flex;
    position: relative;
    margin-left: 60%;
}

#title_crunchy{
    font-size: 5em;
    font-family:educa, Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-align: left;
    margin-top: -10%;
    margin-bottom: 10%;
    margin-left: 15%;
}

#slogan_crunchy{
    font-size: 1.5em;
    font-family: 'Edu TAS Beginner', cursive;
    color:black;
    text-align: left;
    margin-top: -9%;
    margin-bottom: 10%;
    margin-left: 16%;
}

 #description_crunchy{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-align: left;
    width: 45%;
    margin-left: 5%;
    line-height: 1.5;
    text-align: block;
    margin-bottom: 10%;
}

#description_crunchy_text{
    border: 5px solid black;
    border-radius: 10px;
    padding: 5%;
    background-color: blue
}

#perso{
    padding-left: 60%;
    margin-top: -250%;
}

#title_description{
    margin-top: 7%;
    margin-left: 5%;
    margin-bottom: 5%;
}

 #anime_crunchy{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
#anime_crunchy img{
    border-radius: 5px;  
    margin-bottom: 5%;
}

#anime_crunchy img :hover {
    opacity: 0;
    cursor: pointer;
    transform: scale(1); 
    transition: all 0.2s ease-in-out;
}

#résumé{
    text-align: center;
    text-decoration: underline;
}
 
#texte_interface{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-align: left;
    width: 45%;
    margin-left: 5%;
    line-height: 1.5;
    text-align: block;
    margin-bottom: 10%;
    border: 5px solid black;
    border-radius: 10px;
    padding: 2%;
    background-color: blue
}

#perso2{
    padding-left: 60%;
    margin-top: -100%;
}

#capture_interface{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#capture_interface img{
    border-radius: 5px;  
    margin-bottom: 5%;
}

#capture_interface img:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.3); 
    transition: all 0.2s ease-in-out;
}

#title_téléchargement{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 7%;
}

#téléchargement{
    display: flex;
    text-align: center;
    justify-content: space-evenly ;
    margin-bottom: 10%;
}

#footer_crunchy{
    background-color: black;
    border-radius: 20px;
    height: 12vh;
    margin-top: 5%;
}

#footer_crunchy img{   
    margin-left: 5%;
    margin-top: 1%;
}

#logo_footer{
    display: flex;
    position:absolute;
    margin-top: -4.5%;
    margin-left: 85%;
    background-color: black; 
}
/*fin Crunchyroll*/





/*Parrot*/
#body_parrot{
    background-color: white;
}

#input_parrot{
    text-align: center;
    width: 10vw;
    border-radius: 10px;
    margin-left: 10%;
}

#nav_parrot{
    background-color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    height: 12vh;
}

#nav_parrot ul{   
    display: flex;
    list-style: none;
    flex-direction: row;
}

#nav_parrot ul li{
    display: flex;
    margin-left: 50%;
    padding-right: 20%;
    font-size: 1.5em;
    cursor: pointer;
}

@media (max-width: 1100px) {
    #nav_parrot ul li {
        display: flex;
        padding-right: 20%;
        font-size: 1.5em;
        cursor: pointer;
    }

    #logo_parrot{
        display: none;
    }
}

#nav_parrot ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#nav_parrot ul li a:hover{
    color: blue;
    transition: all 0.2s ease-in-out;
}

#logo_parrot{
    display: flex;
    position:absolute;
    margin-left: 80%;
}

#title_parrot{
    font-size: 7em;
    font-family: 'Playfair Display', serif;
    color:black;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 40%;
}

#slogan_parrot{
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    color:black;
    text-align: center;
    margin-top: -9%;
    margin-bottom: 10%;
}

 #description_parrot{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-align: left;
    width: 45%;
    margin-left: 5%;
    line-height: 1.5;
    text-align: block;
    margin-bottom: 10%;
}

#description_parrot_text{
    border: 5px solid black;
    border-radius: 10px;
    padding: 5%;
    background-color:yellowgreen;
}

#drone{
    padding-left: 60%;
    margin-top: -300%;
}

#title_description_parrot{
    margin-top: 7%;
    margin-left: 5%;
    margin-bottom: 5%;
}

 #video_drone{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

#video_drone video:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2); 
    transition: all 0.2s ease-in-out;
}

 
#texte_interface_parrot{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-align: left;
    width: 45%;
    margin-left: 5%;
    line-height: 1.5;
    text-align: block;
    margin-bottom: 10%;
    border: 5px solid black;
    border-radius: 10px;
    padding: 2%;
    background-color:yellowgreen;
}

#drone2{
    padding-left: 60%;
    margin-top: -100%;
}

#capture_interface_parrot{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#capture_interface_parrot img{
    border-radius: 5px;  
    margin-bottom: 5%;
}

#capture_interface_parrot img:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.3); 
    transition: all 0.2s ease-in-out;
}

#title_téléchargement_parrot{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 7%;
}

#téléchargement_parrot{
    display: flex;
    text-align: center;
    justify-content: space-evenly ;
    margin-bottom: 10%;
}

#footer_parrot{
    background-color: black;
    border-radius: 20px;
    height: 12vh;
    margin-top: 5%;
}

#footer_parrot img{   
    margin-left: 5%;
    margin-top: 1%;
}
/*fin Parrot*/



/*ADN*/
#body_adn{
    background-color: rgb(66, 165, 245);
}

#input_adn{
    text-align: center;
    width: 10vw;
    border-radius: 10px;
    margin-left: 10%;
}

#nav_adn{
    background-color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    height: 12vh;
}

#nav_adn ul{   
    display: flex;
    list-style: none;
    flex-direction: row;
}

#nav_adn ul li{
    display: flex;
    margin-left: 50%;
    padding-right: 20%;
    font-size: 1.5em;
    cursor: pointer;
}

@media (max-width: 1100px) {
    #nav_adn ul li {
        display: flex;
        padding-right: 20%;
        font-size: 1.5em;
        cursor: pointer;
    }

    #logo_adn{
        display: none;
    }
}

#nav_adn ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#nav_adn ul li a:hover{
    color: red;
    transition: all 0.2s ease-in-out;
}

#logo_adn{
    display: flex;
    position:absolute;
    margin-left: 80%;
}

#title_adn{
    font-size: 7em;
    font-family: 'Alfa Slab One', serif;
    color:black;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 41%;
}

#slogan_adn{
    font-size: 2.3em;
    font-family: 'Alumni Sans Inline One', sans-serif;
    color:black;
    text-align: center;
    margin-top: -9%;
    margin-bottom: 10%;
}

 #description_adn{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-align: left;
    width: 45%;
    margin-left: 5%;
    line-height: 1.5;
    text-align: block;
    margin-bottom: 10%;
}

#description_adn_text{
    border: 5px solid black;
    border-radius: 10px;
    padding: 5%;
    background-color:red
}

#perso10{
    padding-left: 60%;
    margin-top: -300%;
}

#title_description_adn{
    margin-top: 7%;
    margin-left: 5%;
    margin-bottom: 5%;
}

 #anime_adn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

#anime_adn img:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2); 
    transition: all 0.2s ease-in-out;
}

 
#texte_interface_adn{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-align: left;
    width: 45%;
    margin-left: 5%;
    line-height: 1.5;
    text-align: block;
    margin-bottom: 10%;
    border: 5px solid black;
    border-radius: 10px;
    padding: 2%;
    background-color:red;
}

#perso20{
    padding-left: 60%;
    margin-top: -100%;
}

#capture_interface_adn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#capture_interface_adn img{
    border-radius: 5px;  
    margin-bottom: 5%;
}

#capture_interface_adn img:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.3); 
    transition: all 0.2s ease-in-out;
}

#title_téléchargement_adn{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 7%;
}

#téléchargement_adn{
    display: flex;
    text-align: center;
    justify-content: space-evenly ;
    margin-bottom: 10%;
}

#footer_adn{
    background-color:black;
    border-radius: 20px;
    height: 12vh;
    margin-top: 5%;
}

#footer_adn img{   
    margin-left: 5%;
    margin-top: 1%;
}
/*fin ADN*/